@import "tailwindcss";
@import "./colors.css";
@import "./breakpoints.css";
@import "./spacing.css";
@import "./typography.css";

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
